In [170]:
import pandas
import csv
import matplotlib.pyplot as plt
import numpy as np

## Reading Data

In [243]:
data = pandas.read_csv("data/training_v2.csv", decimal=".")

In [203]:
print(data.shape)
print(data.dropna().shape)
data.head()

(91713, 186)
(25, 186)

,encounter_id,patient_id,hospital_id,hospital_death,age,bmi,elective_surgery,ethnicity,gender,height,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
0,66154,25312,118,0,68.0,22.73,0,Caucasian,M,180.3,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Sepsis,Cardiovascular
1,114252,59342,81,0,77.0,27.42,0,Caucasian,F,160.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Respiratory,Respiratory
2,119783,50777,118,0,25.0,31.95,0,Caucasian,F,172.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Metabolic,Metabolic
3,79267,46918,118,0,81.0,22.64,1,Caucasian,F,165.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Cardiovascular,Cardiovascular
4,92056,34377,33,0,19.0,NaN,0,Caucasian,M,188.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Trauma,Trauma

In [204]:
variables = "age, creatinine_apache, heart_rate_apache, hematocrit_apache, map_apache, pao2_apache, ph_apache, sodium_apache, temp_apache, wbc_apache, aids, cirrhosis, diabetes_mellitus, hepatic_failure, immunosuppression, leukemia, lymphoma, solid_tumor_with_metastasis"
variablesL = variables.split(", ")
variablesL

['age',
 'creatinine_apache',
 'heart_rate_apache',
 'hematocrit_apache',
 'map_apache',
 'pao2_apache',
 'ph_apache',
 'sodium_apache',
 'temp_apache',
 'wbc_apache',
 'aids',
 'cirrhosis',
 'diabetes_mellitus',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis']

In [205]:
datam = data[variablesL]

In [206]:
## Imputacion con mediana cuando la districucion de las variables no se asemeja a la normal, sesgada

In [207]:
from sklearn.impute import SimpleImputer

In [208]:
imp = SimpleImputer(missing_values=np.nan, strategy='median')
variables_mediana =['gcs_motor_apache', 'gcs_eyes_apache', 'gcs_verbal_apache', 'weight', "bmi"
, 'bun_apache', 'creatinine_apache', 'sodium_apache', 'temp_apache', 'wbc_apache', 'd1_diasbp_max', 'd1_diasbp_min', 'd1_diasbp_min', "d1_diasbp_noninvasive_min", "d1_heartrate_max", "d1_heartrate_min", "d1_mbp_max", "d1_mbp_noninvasive_max",  "d1_mbp_noninvasive_min", "d1_resprate_max", "d1_resprate_min", "d1_spo2_max", "d1_spo2_min", "d1_sysbp_max", "d1_sysbp_min", "d1_sysbp_noninvasive_max", "d1_sysbp_noninvasive_min", "d1_temp_max", "d1_temp_min", "h1_diasbp_max", "h1_diasbp_min", "h1_diasbp_noninvasive_max", "h1_diasbp_noninvasive_min", "h1_heartrate_max", "h1_heartrate_min", "h1_mbp_max", "h1_mbp_min", "h1_mbp_noninvasive_max", "h1_mbp_noninvasive_min", "h1_resprate_max", "h1_spo2_max", "h1_spo2_min", "h1_sysbp_max", "h1_sysbp_min", "h1_sysbp_noninvasive_max", "h1_sysbp_noninvasive_min", "h1_temp_max", "h1_temp_min", "d1_bun_max", "d1_bun_min", "d1_calcium_max", "d1_calcium_min", "d1_creatinine_max", "d1_creatinine_min", "d1_glucose_max", "d1_glucose_min", "d1_hco3_max", "d1_hco3_min", "d1_hemaglobin_min", "d1_platelets_max", "d1_platelets_min", "d1_potassium_max", "d1_potassium_min", "d1_sodium_min", "d1_wbc_max", "d1_wbc_min", "apache_4a_hospital_death_prob", "apache_4a_icu_death_prob"]
data_nueva = imp.fit_transform(data[variables_mediana]).T
print(data_nueva.shape)
contador = 0
for i in variables_mediana:
    
    data[i] = data_nueva[contador]
    contador
    contador=contador+1

(68, 91713)

In [209]:
diferencia_mediana = set(variablesL) - set(variables_mediana)
diferencia_mediana

{'age',
 'aids',
 'cirrhosis',
 'diabetes_mellitus',
 'heart_rate_apache',
 'hematocrit_apache',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'map_apache',
 'pao2_apache',
 'ph_apache',
 'solid_tumor_with_metastasis'}

# datam

In [210]:
imp = SimpleImputer(missing_values=np.nan, strategy='median')
data_nueva = imp.fit_transform(datam[diferencia_mediana]).T
print(data_nueva.shape)
contador = 0
for i in diferencia_mediana:
    if i in variablesL:
        datam[i] = data_nueva[contador]
        contador
        contador=contador+1

(14, 91713)

/home/eagalvez/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [181]:
## Imputacion con media cuando la districucion de las variables se asemeja a la normal

In [212]:
imp = SimpleImputer(strategy='mean')
variables_mean =['age', 'height',  'hematocrit_apache','map_apache', "d1_mbp_min", "d1_hemaglobin_max", "d1_hematocrit_max", "d1_hematocrit_min", "d1_sodium_max"]
data_nueva = imp.fit_transform(data[variables_mean]).T
print(data_nueva.shape)
contador = 0
for i in variables_mean:
    data[i] = data_nueva[contador]
    contador=contador+1

(9, 91713)

## datam

In [211]:
diferencia_promedio = set(variablesL) - set(variables_mean)
diferencia_promedio

{'aids',
 'cirrhosis',
 'creatinine_apache',
 'diabetes_mellitus',
 'heart_rate_apache',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'pao2_apache',
 'ph_apache',
 'sodium_apache',
 'solid_tumor_with_metastasis',
 'temp_apache',
 'wbc_apache'}

In [213]:
imp = SimpleImputer(strategy='mean')
data_nueva = imp.fit_transform(datam[diferencia_promedio]).T
print(data_nueva.shape)
contador = 0
for i in diferencia_promedio:
    datam[i] = data_nueva[contador]
    contador=contador+1

(15, 91713)

/home/eagalvez/.local/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [183]:
## Imputacion en variables categoricas con el mas frecuente

In [214]:
imp = SimpleImputer(strategy="most_frequent")
variables_categoricas =[ 'elective_surgery',"ethnicity",'readmission_status', 'apache_post_operative',
 'arf_apache',
 'gcs_unable_apache',
 'intubated_apache',
 'ventilated_apache',
 'aids',
 'cirrhosis',
 'diabetes_mellitus',
 'hepatic_failure',
 'immunosuppression',
 'leukemia',
 'lymphoma',
 'solid_tumor_with_metastasis',
 'ethnicity',
 'gender',
 'hospital_admit_source',
 'icu_admit_source',
 'icu_stay_type',
 'icu_type',
 'apache_3j_bodysystem',
 'apache_2_bodysystem',
 'apache_2_diagnosis', 'apache_3j_diagnosis']
categorias = ['ethnicity','gender',"hospital_admit_source", "icu_admit_source", "solid_tumor_with_metastasis", "icu_stay_type","icu_type", "apache_3j_bodysystem", "apache_2_bodysystem"]
data_nueva = imp.fit_transform(data[variables_categoricas]).T 
print(data_nueva.shape)
contador = 0
for i in variables_categoricas:
    data[i] = data_nueva[contador]
    contador
    contador=contador+1

(26, 91713)

In [215]:
diferencia_categoricas = set(variablesL) - set(variables_categoricas)
diferencia_categoricas

{'age',
 'creatinine_apache',
 'heart_rate_apache',
 'hematocrit_apache',
 'map_apache',
 'pao2_apache',
 'ph_apache',
 'sodium_apache',
 'temp_apache',
 'wbc_apache'}

In [216]:
imp = SimpleImputer(strategy="most_frequent")

categorias = ['ethnicity','gender',"hospital_admit_source", "icu_admit_source", "solid_tumor_with_metastasis", "icu_stay_type","icu_type", "apache_3j_bodysystem", "apache_2_bodysystem"]
data_nueva = imp.fit_transform(datam[diferencia_categoricas]).T 
print(data_nueva.shape)
contador = 0
for i in diferencia_categoricas:
    datam[i] = data_nueva[contador]
    contador
    contador=contador+1

(10, 91713)

/home/eagalvez/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [218]:
result = datam.isnull().sum() / n_samples 
#el porcentaje de las variables nulas con respecto a toda mi data por columna
r = result.sort_values(ascending=True)

In [221]:
datam.columns

Index(['age', 'creatinine_apache', 'heart_rate_apache', 'hematocrit_apache',
       'map_apache', 'pao2_apache', 'ph_apache', 'sodium_apache',
       'temp_apache', 'wbc_apache', 'aids', 'cirrhosis', 'diabetes_mellitus',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis'],
      dtype='object')

In [228]:
categorias

['ethnicity',
 'gender',
 'hospital_admit_source',
 'icu_admit_source',
 'solid_tumor_with_metastasis',
 'icu_stay_type',
 'icu_type',
 'apache_3j_bodysystem',
 'apache_2_bodysystem']

In [229]:
data2m.columns

Index(['age', 'leukemia', 'immunosuppression', 'hepatic_failure',
       'diabetes_mellitus', 'cirrhosis', 'aids', 'wbc_apache', 'temp_apache',
       'sodium_apache', 'ph_apache', 'pao2_apache', 'map_apache',
       'hematocrit_apache', 'heart_rate_apache', 'creatinine_apache',
       'lymphoma', 'solid_tumor_with_metastasis',
       'solid_tumor_with_metastasis_encoded'],
      dtype='object')

In [227]:
intersection_cats = set(categorias) & set(data2m.columns)
intersection_cats

{'solid_tumor_with_metastasis'}

In [222]:
## Se quitan algunas columnas y se deja solo aquellas columnas que no tienen missing value 
#df.dropna(axis='columns') elimina las columnas que tienen mas de un elementofaltante
data2m = datam[r[r<=0.00].reset_index()["index"]]
data2m

In [234]:
data2m['solid_tumor_with_metastasis']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
91708    1.0
91709    0.0
91710    0.0
91711    0.0
91712    0.0
Name: solid_tumor_with_metastasis, Length: 91713, dtype: float64

In [237]:
#categorias = ['gender']
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
data = data2m
for i in intersection_cats:
    categoria = LabelEncoder()
    data[i + "_encoded"] = categoria.fit_transform(data[i])
    ohe = OneHotEncoder()
    X = ohe.fit_transform(data[i+"_encoded"].values.reshape(-1,1)).toarray()
    dfOneHot = pandas.DataFrame(X, columns = [ i + "_"+str(int(j)) for j in range(X.shape[1])])
    data2 = pandas.concat([data, dfOneHot], axis=1)
data2 = data.drop(columns=list(intersection_cats))    # luego sacar icu_type, icu_stay_type

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [242]:
data2m =data

In [244]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split( data2m,  data["hospital_death"], test_size=0.3, random_state=0)

In [245]:
from sklearn import datasets

from sklearn import metrics

from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(train_x, train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [249]:
data.groupby("hospital_death").count()

,encounter_id,patient_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,aids,cirrhosis,diabetes_mellitus,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,apache_3j_bodysystem,apache_2_bodysystem
hospital_death,,,,,,,,,,,,,,,,,,,,,
0,83798,83798,83798,80212,80732,83798,82508,83781,82654,64133,...,83168,83168,83168,83168,83168,83168,83168,83168,82272,82272
1,7915,7915,7915,7273,7552,7915,7810,7907,7725,6171,...,7830,7830,7830,7830,7830,7830,7830,7830,7779,7779

In [246]:
expected = test_y

predicted = model.predict(test_x)

In [247]:
print(metrics.classification_report(expected, predicted))

print(metrics.confusion_matrix(expected, predicted))

              precision    recall  f1-score   support

           0       0.93      0.91      0.92     25082
           1       0.27      0.33      0.30      2432

    accuracy                           0.86     27514
   macro avg       0.60      0.62      0.61     27514
weighted avg       0.87      0.86      0.87     27514

[[22913  2169]
 [ 1634   798]]

In [185]:
#Hasta este punto la variable data ya tiene la imputacion de datos correcta
n_samples = data_nueva.shape[1]
print(n_samples)
data_nueva.shape

91713

(26, 91713)

In [186]:
data_nueva[:,0]

array([0, 'Caucasian', 0, 0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 'Caucasian', 'M', 'Floor', 'Floor', 'admit', 'CTICU',
       'Sepsis', 'Cardiovascular', 113.0, 502.01], dtype=object)

In [187]:
result = data.isnull().sum() / n_samples 
#el porcentaje de las variables nulas con respecto a toda mi data por columna
r = result.sort_values(ascending=True) 
# r contiene el porcentaje de missing values de cada columna en orden ascendente
data[r[r<=0.3].reset_index()["index"]].to_csv("menor30sinmissing.csv",sep=",", header=True, index=False)
len(set(r[r<=0.00].reset_index()["index"]))

107

In [ ]:
##Imputacion solo variables nuevas

In [188]:
datam.columns

Index(['age', 'creatinine_apache', 'heart_rate_apache', 'hematocrit_apache',
       'map_apache', 'pao2_apache', 'ph_apache', 'sodium_apache',
       'temp_apache', 'wbc_apache', 'aids', 'cirrhosis', 'diabetes_mellitus',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis'],
      dtype='object')

In [168]:
data.dropna().shape

(44, 186)

In [144]:
r

encounter_id                0.000000
d1_bun_max                  0.000000
h1_temp_min                 0.000000
h1_temp_max                 0.000000
h1_sysbp_noninvasive_min    0.000000
                              ...
h1_albumin_min              0.913982
h1_lactate_min              0.919924
h1_lactate_max              0.919924
h1_bilirubin_min            0.922650
h1_bilirubin_max            0.922650
Length: 186, dtype: float64

In [145]:
data.shape

(91713, 186)

In [146]:
print(result[result != data.isnull().sum()].shape)
result[result != data.isnull().sum()]

(79,)

albumin_apache          0.592926
bilirubin_apache        0.633869
fio2_apache             0.772715
glucose_apache          0.120332
heart_rate_apache       0.009573
                          ...
h1_arterial_ph_min      0.833295
h1_arterial_po2_max     0.828072
h1_arterial_po2_min     0.828072
h1_pao2fio2ratio_max    0.874413
h1_pao2fio2ratio_min    0.874413
Length: 79, dtype: float64

In [147]:
print(r.shape)
data.shape

(186,)

(91713, 186)

In [148]:
r.index

Index(['encounter_id', 'd1_bun_max', 'h1_temp_min', 'h1_temp_max',
       'h1_sysbp_noninvasive_min', 'h1_sysbp_noninvasive_max', 'h1_sysbp_min',
       'apache_3j_bodysystem', 'h1_spo2_min', 'h1_spo2_max',
       ...
       'h1_arterial_ph_max', 'h1_arterial_ph_min', 'h1_pao2fio2ratio_min',
       'h1_pao2fio2ratio_max', 'h1_albumin_max', 'h1_albumin_min',
       'h1_lactate_min', 'h1_lactate_max', 'h1_bilirubin_min',
       'h1_bilirubin_max'],
      dtype='object', length=186)

In [149]:
r.reset_index()

                        index         0
0                encounter_id  0.000000
1                  d1_bun_max  0.000000
2                 h1_temp_min  0.000000
3                 h1_temp_max  0.000000
4    h1_sysbp_noninvasive_min  0.000000
..                        ...       ...
181            h1_albumin_min  0.913982
182            h1_lactate_min  0.919924
183            h1_lactate_max  0.919924
184          h1_bilirubin_min  0.922650
185          h1_bilirubin_max  0.922650

[186 rows x 2 columns]

In [150]:
r.reset_index()["index"]

0                  encounter_id
1                    d1_bun_max
2                   h1_temp_min
3                   h1_temp_max
4      h1_sysbp_noninvasive_min
                 ...
181              h1_albumin_min
182              h1_lactate_min
183              h1_lactate_max
184            h1_bilirubin_min
185            h1_bilirubin_max
Name: index, Length: 186, dtype: object

In [151]:
data.shape

(91713, 186)

In [152]:
data[r.reset_index()["index"][:5]]

,encounter_id,d1_bun_max,h1_temp_min,h1_temp_max,h1_sysbp_noninvasive_min
0,66154,31.0,37.5,39.5,115.0
1,114252,11.0,36.3,36.3,71.0
2,119783,19.0,36.7,36.7,124.0
3,79267,19.0,34.8,35.6,115.0
4,92056,19.0,36.6,36.7,120.0
...,...,...,...,...,...
91708,91592,27.0,38.2,38.2,87.0
91709,66119,34.0,36.1,36.1,107.0
91710,8981,33.0,36.6,36.6,115.0
91711,33776,19.0,36.6,36.7,115.0
91712,1671,27.0,36.7,36.7,89.0

In [153]:
## Se quitan algunas columnas y se deja solo aquellas columnas que no tienen missing value 
#df.dropna(axis='columns') elimina las columnas que tienen mas de un elementofaltante
data2 = data[r[r<=0.00].reset_index()["index"]].drop(columns=["patient_id","encounter_id", "readmission_status"])    # luego sacar icu_type, icu_stay_type

The Naive Bayes classifier assumes that the presence of a feature in a class is unrelated to any other feature.
describes the probability of an event, based on prior knowledge of conditions that might be related to the event
https://dzone.com/articles/naive-bayes-tutorial-naive-bayes-classifier-in-pyt

In [154]:
categorias

['ethnicity',
 'gender',
 'hospital_admit_source',
 'icu_admit_source',
 'solid_tumor_with_metastasis',
 'icu_stay_type',
 'icu_type',
 'apache_3j_bodysystem',
 'apache_2_bodysystem']

In [103]:
#categorias = ['gender']
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
for i in categorias:
    categoria = LabelEncoder()
    data[i + "_encoded"] = categoria.fit_transform(data[i])
    ohe = OneHotEncoder()
    X = ohe.fit_transform(data[i+"_encoded"].values.reshape(-1,1)).toarray()
    dfOneHot = pandas.DataFrame(X, columns = [ i + "_"+str(int(j)) for j in range(X.shape[1])])
    data2 = pandas.concat([data, dfOneHot], axis=1)
data2 = data.drop(columns=categorias)    # luego sacar icu_type, icu_stay_type

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [104]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split( data2.drop(columns=["hospital_death"]),  data2["hospital_death"], test_size=0.3, random_state=0)

In [115]:
data.dropna().shape

(44, 195)

In [113]:
data.shape

(91713, 195)

In [ ]:
dat